.view-filters {
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 15px;
  margin: 10px 0;
}
.view-filters .js-form-item {
  width: 100%;
}
.view-filters .form-control {
  padding: 0.8rem;
}
.view-filters .button {
  margin-top: 23px;
}
