<div class="bg-light h-100 p-3 rounded-3 d-flex flex-column justify-content-between">
	<h5 class="fw-bold my-2">
		<a href="{{ url }}" rel="bookmark" class="text-muted">{{ label }}</a>
	</h5>
	{# <div class="text-secondary">{{ content.body }}</div> #}
	<div class="bg-white p-1 px-2 rounded-2 border border-muted d-flex gap-2 align-items-center">{{ content.field_tags }}</div>
</div>
