.field--name-field-tags .field__items{
  display: flex;
  align-items: center;
  gap: 3;
  flex-wrap: wrap;
}
.field--name-field-tags .field__items .field__item{
  margin: 4px;
}
.field--name-field-tags a {
  background-color: #c9e1bd;
  padding: 3px 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #444;
}

.site-navbar ul .nav-item {
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.3s;
}
.site-navbar ul .nav-item:hover {
  background-color: #c9e1bd;
  color: #444;
  transition: all 0.3s;
  font-weight: bold;
}

.site-navbar ul .nav-item .nav-link {
  padding: 6px;
}

/* BEGIN comments  */
.page-node-type-news .field--name-comment {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 16px;
  margin: 10px 0;
}
.page-node-type-news .field--name-comment footer {
  display: none;
}
.page-node-type-news .field--name-comment .content h3 a {
  color: #444;
  text-decoration: none;
  font-weight: bold;
}
.page-node-type-news .field--name-comment .content {
  color: #444;
  background-color: #fff;
  padding: 16px;
  border-radius: 10px;
  height: 100%;
}
.page-node-type-news .field--name-comment .content .field--name-comment-body {
  color: #6c757d;
}
.swiper-slide {
  height: auto !important;
}
/* END comments  */

.language-switcher-language-url {
  display: flex;
  align-items: center;
}
.language-switcher-language-url ul {
  list-style: none;
  display: flex;
  align-items: center;
  row-gap: 3;
  margin: 0;
  padding: 0;
}
.language-switcher-language-url ul li {
  margin: 12px 8px;
}
.language-switcher-language-url ul li a {
  color: #444;
  text-decoration: none;
  background-color: #f8f9fa;
  padding: 7px;
  border-radius: 10px;
  transition: all 0.3s;
}
.language-switcher-language-url ul li a:hover {
  background-color: #f8f9fa;
  /* color: #444; */
  transition: all 0.3s;
  text-decoration: underline;
}

/* BEGIN header  */
header .region-nav-main {
  display: flex;
  align-items: center;
  gap: 3px;
}
/* END header  */

/* BEGIN node : blog   */
/* .page-node-type-blog main .node__content .field--name-body {
  background-color: #f8f9fa;
  padding: 7px;
  border-radius: 10px;
}
.page-node-type-blog main .node__content .field {
  margin: 10px 0;
} */
/* END header  */
